body{
  font-family:monospace;
   background-image: linear-gradient(rgba(249, 243, 243, 0.7),rgba(213, 25, 25, 0.7)),url(images/burgerkingbg.jpeg);
}
.section-title{
  text-align: center;
  margin-bottom: 80px;
}
.section-title h2{
  text-transform: capitalize;
  font-size: 55px;
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.menus{
  display: flex;
  justify-content: space-around;
}
.single-menu{
  align-content: center;
 
}
.image1{
  height: 150px;
  width: 150px;
  border-radius:30px 0px 30px 0px ;
}
.image1:hover{
  -webkit-transform: scale(0.8);
-ms-transform: scale(0.5);
transform: scale(0.9);
transition: 1s ease;
cursor:pointer;
}